
body
{
  background-color: rgb(201, 246, 228);
  margin: 0;
}

h1 {
  font-size: 88px;
  font-family: Helvetica;
}
 h2 {
  font-size: 18px;
  font-family:Helvetica;
}
 p {
  font-size: 17px;
  font-family:Helvetica;
  text-align: justify;
}

.cuerpitocentral
{
 width: 50%;
 max-width: 850px;
 margin:0 auto
}

.cabecerafija
{
    background-color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    
}

.cabecerafija a
{
   color: black;
   text-decoration: none;
}

.logo-nav-container
{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

.navigation ul
{
   margin:0;
   padding: 0;
   list-style: none;
}

.navigation ul li
{
   display: inline-block;
}

.navigation ul li a
{
   display: block;
   padding: 0.5rem ;
   transition: all 0.4Ss linear
}

.navigation ul li a:hover
{
   background:#5eff00;
   
}

.footer
{
    padding: 4rem
    
 }

 .btn {
    background-color: #5eff00;
    font-family: Helvetica;
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    letter-spacing: 7px;
    cursor: pointer;
    }

    hr.dashed {
        border-top: 3px dashed #bbb;
        }
        
        hr.dotted {
        border-top: 3px dotted #bbb;
        }
        
        hr.solid {
        border-top: 3px solid #bbb;
        }
        
        hr.rounded {
        border-top: 8px solid #bbb;
        border-radius: 5px;
        }

        a{
            color: black
          }
          
          a:link
          {
            color: black
          }
          
          a:visited
          {
            color:black
          }
          
          a:hover
          {
            color:black
          }
          
          a:active
          {
            color: rgb(238, 141, 222)
          }
